.font-size-12-needed {
  font-size: 12px;
}
.trivago-main-page-h1-text {
  font-size: 60px;
  font-weight: 700;
}
.line-between-text {
  height: 60px;
  border-right: 0.5px solid grey;
}
.row-2-main-page {
  background-color: #f9fafa;
}

.row-1 {
  padding-left: 90px !important;
}
.row {
  padding-left: 50px;
  padding-right: 50px;
}
.search-form-div {
  width: 100%;
  background-color: white;
  height: 60px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.button-class-0 {
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 0px;
  color: #1391d2;
}
.button-class-1 {
  background-color: rgb(185, 213, 226);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 0px;
  color: black;
}
.v-line-needed {
  height: 100%;
  border-left: 0.2px solid rgb(194, 194, 194);
}
.check-in-out-v-line {
  height: 60%;
  border-left: 0.2px solid grey;
}
.footer-main-div {
  background-color: #0a1121;
}
.h-line-row {
  border-bottom: 1px solid white;
}
